@import url('https://fonts.googleapis.com/css?family=Montserrat|Open Sans|Leckerli+One');

body {
	font-family: Montserrat, sans-serif, arial;
	font-size:16px; /*1em = 16px*/
	text-align: center;
}

p {
	line-height: 1em;
	font-family: Open Sans, sans-serif, arial;
}


header { 
	font-size: 4em;
	font-family: Leckerli One, cursive;
	border: 1px #a9a9a9 solid;
	background-color: #fff;
	text-align: center;
	width: 20%;
	margin: .2em auto;
	}

nav {
	background-color: #303030;
    padding: 20px;
}

nav a {
	text-decoration: none;
	font-family: Open Sans:800, sans-serif, arial;
	font-size: 0.85em;
	color:#fff;
	letter-spacing: .050em;
	text-transform: uppercase;
	margin: 0 .31em;

}

nav a:hover {
	text-decoration: line-through;
}

#featured {
	background-image: url(../images/calaveras.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 50%;
}

article {
	background-color: #fff;
    padding: 20px;

}

aside {
	background-color: #FFC675;
	border: 1px black solid;
    padding: 1.25em;
}

.read-more-link {
	font-size:.45em;
	text-align:left;
	color:#fff;
	text-decoration: none;
}

.read-more-link:hover {
	text-decoration: line-through;
	font-size:.45em;
	text-align:left;
}


.text-tile {
	color: #fff;
	background-color: #000;
	font-size: 1.5em;
	border: 1px black solid;
	text-align: center;	
	text-transform: uppercase;
	padding: 0.5em;
	width: 35%;
	margin: 12% auto;
}

/*section {
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}*/


#two_column {
    background-color: #fff;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-image: url(../images/paris.jpg);
    background-size: cover;
	background-repeat: no-repeat;
    border: 1px black solid;
    float: left;
    width: 42%;
}

#right {
	background-color: #FFE2B8;
    background-image: url(../images/oakland.jpg);
    background-size: cover;
	background-repeat: no-repeat;
    border: 1px black solid;
    float: right;   
    width: 50%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#contact {
	font-size: 0.80em;
	color:#000;
	font-family: Montserrat, sans-serif, arial;
}

.link {
	text-decoration: none;
	color: #000;
}

.link:hover {
	text-decoration: underline;
	color: #fff;
}

footer {
	background-color: #303030;
    padding: 15px;
}
