@import url('https://fonts.googleapis.com/css?family=Montserrat|Open Sans|Leckerli+One');

body {
  font-family: Montserrat, sans-serif, arial;
  font-size:16px; /*1em = 16px*/
  text-align: center;
}

p {
  line-height: 1em;
  font-family: Open Sans, sans-serif, arial;
}


header { 
  font-size: 3em;
  font-family: Leckerli One, cursive;
  background-color: #fff;
  text-align: center;
  margin: .40em auto;
  }

nav {
  background-color: #303030;
    float: left;
    width:100%;

}

nav a {
 text-decoration: none;
  font-size: 0.85em;
  border: 3px solid #303030;
  color:#fff;
  letter-spacing: .055em;
  text-transform: uppercase;
  padding: 1% 2%;
  margin: 0.5% auto;
 display: inline-block;
}

nav a:hover {
  border: 3px solid #fff;
}

#featured {
  background-image: url(../images/calaveras.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding:1px;
}

.read-more-link {
  font-size:.45em;
  text-align:left;
  color:#fff;
  text-decoration: none;
}

.read-more-link:hover {
  font-size:.5em;
  font-weight: bold;
}


.text-tile {
  color: #fff;
  background-color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 0.75em;
  width: 45%;
  margin: 15% auto;
}


#two_column {
    background-color: #fff;
    margin: 0.5% auto;
}

#left {
    background-image: url(../images/louvre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 49.5%;
}

#right {
    background-image: url(../images/oakland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    float: right;   
    width: 49.5%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#bio-photo {
  width:50%;
}

#bio-text {
  font-size: 0.55em;
  text-transform: none;
}

#contact {
  font-size: 0.80em;
  color:#000;
  font-family: Montserrat, sans-serif, arial;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: #fff;
}

footer {
  background-color: #303030;
    padding: 1em;
}

@media screen and (max-width: 1170px) {
 
.text-tile {
  width: 50%;
}

}

@media screen and (max-width: 950px) {
  #two_column {
    display: inline-block;
    float:none;
    margin: 0;
  }
  #left {
    width:100%;
    margin: 1% 0;
  }
   #right {
    width:100%;
    margin: 0 0 1% 0;
  }
}


@media screen and (max-width: 725px) {
  .text-tile {
    width:65%;
  }
}


@media screen and (max-width: 430px) {
  .text-tile {
    font-size:1.2em;
    width:65%;
  }
 
nav {
    padding: 0% 0%;
    float: none;
}
 nav a {
  font-size: 0.95em;
  margin: 0 0;
  padding: 2.5% 0%;
  display: block;
}


}

